@font-face{
    font-family: Vazirmatn ;
    src: url(../src/font/Vazirmatn-VariableFont_wght.ttf) format(truetype);
    
}


:root {
    --fg-color1:  #F3F4F6;
    --fg-color2:  #D9E8F5;
    --bg-color1: #1B263B;
    --bg-color2: #0D1117;
    --form-color: #FFF;
    --git-color:#000;
    --text-color: #000;
    --input-color:#fff;
    --input-border: #D1D5DB;
    --lebal-text: #fff;
    --text-placeholder: #616161;
    --border-focus: #000;
}

:root.dark {
    --fg-color1: #1B263B;
    --fg-color2: #0D1117;
    --bg-color1: #F3F4F6;
    --bg-color2: #D9E8F5;
    --form-color: #1E293B;
    --git-color:#FFF;
    --text-color:#F1F5F9;
    --input-color:#334155;
    --input-border:#475569;
    --lebal-text: #2b374b;
    --text-placeholder: #EEEEEE;
    --border-focus: #fff;
}

.dark-mode{
    background: #3B82F6;
    border-radius: 10px;
    border: 0;
    padding: 8px 12px;
    box-shadow: 2px 2px 8px 0px rgba(255, 255, 255, 0.25) inset, 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 400ms ease;
    position: fixed;
}
.dark-mode:hover{
    background: #226ee8;
}
.font{
    font-family: Vazirmatn;
}
.bg-light{
    background: linear-gradient(180deg, var(--fg-color1) 0%, var(--fg-color2) 100%);
    height: 100vh;
    overflow: hidden;
    
}
.container{
    width: 100vw;
    margin: 20px auto;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap : 20px;
    
}

.logo{
    width: 200px;
    margin-top: 1rem;
}

.form-con{
    width: 400px;
    height: fit-content;
    background-color: var(--form-color);
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.flex-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px ;
    gap: 16px;
}

.h1{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color:var(--text-color)
}

.h2{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-color);
    transition:all 0.01s ease;
    transform: translateY(10%);
    padding: 0 4px;
}


.p-form{
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-color);
}
.input-groups{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.input-box{
    width: 98%;
    height: 40px;
    /* border-radius: 8px; */
    /* margin: 0 20px; */
    /* padding: 0 10px; */
    color: #000000;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    opacity: 60%;
    font-family: Vazirmatn;
    border: 3px solid var(--input-border);
    background-color: var(--input-color);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    outline: none;
    direction: ltr;
   
}
::placeholder{
    color: var(--text-placeholder);
    text-align: right;
}
.input-box:focus{
    border: 3px solid var(--border-focus);
}

.login-bt{
    cursor: pointer;
    display: flex;
    height: 48px;
    width: 100%;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 0;
    font-family: Vazirmatn;
    border-radius: 6px;
    background: #3B82F6;
    box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.25) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 400ms ease;
}
.login-bt:hover{
    background: #226ee8;
}

.login-text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.login-svg{
    width: 20px;
    height: 20px;
}

.bt-contaner{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin: 10px auto ;
    gap: 24px;
}

.bt-svg{
    width: 24px;
    height: 24px;
}
.bt-text{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.internet-bt{   
    display: flex;
    padding: 0 12px;
    align-items: center;
    gap: 6px;
    border: 0;
    border-radius: 8px;
    font-family: Vazirmatn;
    background: #F6AE3B;
    box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.25) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    transition: all 400ms ease;
    height: 2.5rem;
}
.internet-bt:hover{
    background: #f4a21e;
}

.giud-bt{
    display: flex;
    padding: 0 12px;
    align-items: center;
    gap: 6px;
    border: 0;
    border-radius: 8px;
    font-family: Vazirmatn;
    background: #3B82F6;
    box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.25) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    transition: all 400ms ease;
    height: 2.5rem;
}
.giud-bt:hover{
    background: #226ee8;
}

.upc-link {
    color: #3B82F6;
    text-decoration: none;
}

.h3{
    width: fit-content;
    color: var(--text-color);
    font-size: 1rem;
    margin: 0;
}
.footer{
    width: fit-content;
    display: flex;
    flex-direction: column;


    margin: 0 auto;
}

/*
.git-bt{
    width: fit-content;
    padding:16px;
    margin: 0 auto;
    border: 0;
    border-radius: 8px;
    background: var(--git-color);
    box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.25) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
*/

@media only screen and (max-width: 745px){
    .logo{
        width: 150px;
    }
    .container{
        width: fit-content;
        height: fit-content;
    }
    .form-con{
        width: 355px;
        height: fit-content;
    }
    .bt-contaner{
        width: fit-content;
    }
    .h1{
        font-size: 20px;
    }
    .h2{
        font-size: 16px;
    }
    .input-group{
        width: 98%;
    }
    .input-box{
        width: 100%;
    }
    .bt-text{
        font-size: 15px;
    }
}

@media only screen and (max-width: 441px){
    
    .form-con{
        width: 80%;
        height: fit-content;
    }
    .h1{
        font-size: 16px;
    }
    .h2{
        font-size: 14px;
    }
    .bt-contaner{
        flex-direction: row;
        gap: 12px;
    }
    .bt-contaner{
        width: 100%;
    }
    .internet-bt .giud-bt{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .bt-text{
        font-size: 12px;
    }
}

